.additional-option {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.additional-option.button {
  padding: 10px 20px;
}

.additional-option.button > img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-left: -5px;
}

.additional-option.icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
}

.additional-option.icon > img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.additional-option.round {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background-color: #ffffff;
}

.additional-option.round:hover {
	background-color: #dfdfdf;
}

.additional-option.round.active {
  background-color: #dfdfdf;
}

.additional-option .dot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: rgb(90,90,90);
  margin: 5px auto;
}

.additional-option.triangle {
  padding-right: 25px;
}

.additional-option.triangle::after {
  content: "";
  position: absolute;
  right: 0;
  top: 18px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #6980fe transparent transparent transparent;
}

.additional-option-items {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  z-index: 70;
  display: none;
}

.additional-option-items > a,
.additional-option-items > .item-row,
.additional-option-items > input[type="submit"] {
  color: #000000 !important;
  margin: 0 !important;
  padding: 0 25px !important;
  line-height: 50px !important;
  display: block !important;
  font-weight: 100;
  cursor: pointer;
  background-color: #fff;
  border: 0;
}

.additional-option-items > a:hover,
.additional-option-items > .item-row:hover,
.additional-option-items > input[type="submit"]:hover {
  background-color: #eaeaea !important;
}

.additional-option-content {
  display: none;
}

.additional-option-items > span {
  display: block;
  padding: 10px;
}

.additional-option-items input[type="file"] {
  display: none;
}

.global-nav .additional-option {
  position: absolute;
  top: 2px;
  right: 6px;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

/*.global-nav .additional-option:hover {
  background-color: #3F51B5;
}*/

.global-nav .additional-option .dot {
  background-color: #fff;
}

.top-header-wrapper .additional-option {
  position: absolute;
  top: 16px;
  right: 5px;
  width: 40px;
}