.box {
	height: 500px;
	background-color: #fff;
	border: 1px solid #DCDEE3;
	border-top-width: 3px;
	border-top-color: #0071c5;
	margin-top: 30px;
}

.box .box-inner {
	padding: 20px;
}

.box .notice img {
	width: 150px;
	height: 150px;
}