.card-container {
	padding: 20px 0;
}

.card {
	margin-top: 40px;
	position: relative;
	border-top: 5px solid #0071c5;
	padding-top: 20px;
}

.card .overlay-top-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background-color: rgba(236,236,236,.7);
}

.card .card-pin-top {
	padding: 10px 0;
	/*width: 100%;*/
	margin-top: -20px;
	color: #fff;
	background-color: #1E88E5;
}

.card .card-info {
	margin-top: 20px;
}

.card .image-tile {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.card .image-tile .card-image {
	width: 100%;
	height: 250px;
	margin: 0 auto;
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
}

.card .image-tile .card-image.round {
	width: 250px;
	border-radius: 250px;
}

.card .card-title {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #0071c5;
  cursor: pointer;
  height: 50px;
  line-height: 24px;
  overflow: hidden;
}

.card .card-name {
	font-weight: bold;
	font-size: 16px;
	color: #0071c5;
	cursor: pointer;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}

.card .card-sub-info {
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: #333;
	font-weight: bold;
	clear: left;
	font-style: normal;
	margin-top: 10px;
}

.card .card-sub-info .card-sub-info-row:not(:first-child) {
	margin-top: 10px;
}

.card .card-sub-info > h5 {
	margin: 0 0 5px;
}

.card .card-desciption {
	height: 80px;
}

.card .info h4 {
	color: #333;
	margin: 20px 0 5px;
}

.card .person-info .person-name {
	text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  /*cursor: pointer;*/
  font-style: normal;
  height: 17px;
  overflow: hidden;
}

.card .job-info .job-name {
	text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  font-style: normal;
  height: 36px;
  overflow: hidden;
}

.card .product-price-section {
	height: 44px;
}

.card .product-price {
	color: #0071c5;
	font-size: 18px;
	font-weight: bold;
}

.card .product-price-discount-tag{
	padding: 4px 8px;
  font-size: 18px;
  white-space: nowrap;
  background-color: #FFCDD2;
  color: #D50000;
}

.card .origin-price {
	text-decoration: line-through;
	font-size: 12px;
	color: #999;
}

.card .flag {
	position: absolute;
  top: 20px;
  right: 0;
  padding: 6px 15px;
  background-color: #0071c5;
  color: #fff;
  font-size: 14px;
  border-radius: 20px 0 0 20px;
}

.card .button-group {
	position: relative;
	margin: 15px 0 0;
	height: 40px;
}

.card .button {
	margin: 0;
	padding: 0;
	line-height: 40px;
}

.card .additional-option {
	width: 45px;
	height: 40px;
	padding-top: 8px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgb(29,66,133);
}

.card .additional-option .dot {
	margin: 3px auto;
	background-color: #fff;
}