.list-group > .list-row {
	padding: 10px 0;
	position: relative;
}

.list-item-group > .list-item {
	padding: 10px;
	border-bottom: 1px solid #bababa;
}

.list-item-group > .list-item > a {
	display: block;
}

.list-item-group > .list-item img {
	display: inline-block;
	width: 25px;
	margin-right: 10px;
}

.list-item-group > .list-item h4 {
	display: inline-block;
}

.list-item-group > .list-item > p {
	margin-left: 40px;
}


.list-description .list-description-item:last-child {
	margin-bottom: 0;
}

/*.lists {}*/

.lists .list {
	margin-top: 50px;
}

.list .list-content-wrapper .image {
	width: 250px;
}

.list .list-content-wrapper .info {
	width: 65%;
	margin-left: 20px;
}

.list .list-content-wrapper .info .title {
	font-size: 26px;
	margin-bottom: 10px;
}

.list .list-content-wrapper .info .description {

}

.list .list-content-wrapper .info .price {
	font-size: 20px;
	margin-top: 10px;
}

.list .list-content-wrapper .list-content {
	float: left;
}

.lists .primary-image {
	width: 250px;
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 250px;
}

.list-empty-message img {
	width: 200px;
	height: 200px;
}

.product-category-list {
	position: relative;
	min-height: 350px;
	overflow-y: auto; 
	overflow-x: hidden;
}

/*.product-category-list a {
	cursor: pointer;
}*/

.product-category-list .product-category-list-item:first-child {
	border-top: 1px solid #bababa;
}

.product-category-list .product-category-list-item {
	padding: 0;
	position: relative;
	cursor: pointer;
}

.product-category-list .product-category-list-item:hover {
	background-color: #ececec;
}

.product-category-list .product-category-list-item.has-next:after{
	content: "";
	position: absolute;
	top: 6px;
	right: 10px;
	width: 25px;
	height: 25px;
	background-image: url(/images/icons/next.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
}

.product-category-list .product-category-list-item.has-next.selected:after{
	background-image: url(/images/icons/next-white.png);
}

.product-category-list .product-category-list-item.selected {
	background-color: #0D47A1;
	/*box-shadow: 0 2px 5px rgba(0,0,0,.26);*/
}

.product-category-list .product-category-list-item h4 {
	width: 90%;
	padding-left: 15px;
}

.product-category-list .product-category-list-item.selected h4 {
	color: #fff;
}

/*.product-category-list .product-category-list-item > .icon-pos-right {
	position: absolute;
	top: 6px;
	right: 10px;
}*/

.product-category-list .product-category-list-item > .icon-pos-left {
	position: absolute;
	top: 6px;
	left: 10px;
}

.product-category-list .product-category-list-item.back-button {
	background-color: #009688;
}

.product-category-list .product-category-list-item.back-button h4 {
	color: #fff;
	margin-left: 40px;
}

.category-select {
	line-height: 40px;
	font-size: 20px;
	padding: 20px 0;
}

.category-select > span {
	color: #fff;
  background-color: #0D47A1;
  padding: 10px 15px;
}

@media only screen and (max-width : 480px) {
  
	.list .list-content-wrapper .image {
		width: 100%;
	}

	.lists .primary-image {
		width: auto;
	}

	.list .list-content-wrapper .info {
		width: 100%;
		margin-top: 40px;
		margin-left: 0;
	}

}