.list-group {
	margin-top: 10px;
}

.list-group > .list-row {
	position: relative;
}

.list-item-group > .list-item {
	padding: 10px;
	border-bottom: 1px solid #bababa;
}

.list-item-group > .list-item > a {
	display: block;
}

.list-item-group > .list-item img {
	display: inline-block;
	width: 25px;
	margin-right: 10px;
}

.list-item-group > .list-item h4 {
	display: inline-block;
}

.list-item-group > .list-item > p {
	margin-left: 40px;
}

.list-item-group > .list-item > .list-item-group-info {
	margin-left: 40px;
}

.list-description .list-description-item:last-child {
	margin-bottom: 0;
}

.lists .list {
	margin-top: 50px;
}

.list .list-content-wrapper .image-tile {
	width: 250px;
	background-image: url(/images/common/image.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px;
}

.list .list-content-wrapper .info {
	width: 65%;
	margin-left: 20px;
}

.list .list-content-wrapper .info .title {
	font-size: 26px;
	margin-bottom: 10px;
}

.list .list-content-wrapper .info .price {
	font-size: 20px;
	margin-top: 10px;
}

.list .list-content-wrapper .list-content {
	float: left;
}

.lists .primary-image {
	width: 100%;
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.list-empty-message img {
	width: 150px;
	height: 150px;
}

.list-empty-message img.sm {
	width: 50px;
	height: 50px;
	padding: 0;
}

.list-empty-message h4 {
	line-height: 22px;
}

.product-category-list {
	position: relative;
	min-height: 350px;
	overflow-y: auto; 
	overflow-x: hidden;
}

.product-category-list .product-category-list-item:first-child {
	border-top: 1px solid #bababa;
}

.product-category-list .product-category-list-item {
	padding: 0;
	position: relative;
	cursor: pointer;
}

.product-category-list .product-category-list-item:hover {
	background-color: #ececec;
}

.product-category-list .product-category-list-item.has-next:after{
	content: "";
	position: absolute;
	top: 6px;
	right: 10px;
	width: 25px;
	height: 25px;
	background-image: url(/images/icons/next.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
}

.product-category-list .product-category-list-item.has-next.selected:after{
	background-image: url(/images/icons/next-white.png);
}

.product-category-list .product-category-list-item.selected {
	background-color: #0D47A1;
}

.product-category-list .product-category-list-item h4 {
	width: 90%;
	padding-left: 15px;
}

.product-category-list .product-category-list-item.selected h4 {
	color: #fff;
}

.product-category-list .product-category-list-item > .icon-pos-left {
	position: absolute;
	top: 6px;
	left: 10px;
}

.product-category-list .product-category-list-item.back-button {
	background-color: #009688;
}

.product-category-list .product-category-list-item.back-button h4 {
	color: #fff;
	margin-left: 40px;
}

.list-item-group {
	padding: 10px;
}

.list-item-group > label.list-box {
	border-bottom: 1px solid #bababa;
	margin: 0;
	cursor: pointer;
}

.list-item-group > label.list-box > h4 {
	margin: 0;
	padding: 10px;
}

.list-item-group > label.list-box > h4:hover {
	background-color: #ececec;
}

.list-item-group > label.list-box > input[type="radio"]:checked + h4 {
	color: #fff;
	background-color: #0D47A1;
}

.list-item-group.no-border-end > .list-item:last-child{
	border-bottom: 0;
}

label.list-box > input[type="radio"],
label.list-box > input[type="checkbox"] {
	display: none;
}

.list-box {
	padding: 15px;
	background-color: #F2F3F7;
	position: relative;
	border-bottom: 4px solid #ccc;
}

.list-box:not(:first-child) {
	margin-top: 20px;
}

.list-box .primary-image {
	width: 100px;
	height: 100px;
	background-color: rgb(49,175,145);
	border-radius: 100px;
	padding: 20px;
	margin: 10px 0;
}

.list-box.active {
	background-color: #607D8B;
	color: #fff; 
}

.list-box .additional-option {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 35px;
	height: 35px;
	padding-top: 3px;
	border-radius: 35px;
	background-color: #009688;
}

.list-box .additional-option .dot {
	background-color: #fff;
	margin: 4px auto;
}

.list-h .list-h-item {
	padding: 15px 0;
	position: relative;
}

.list-h .list-h-item:not(:first-child) {
	border-top: 1px solid #ccc;
}

.list-h .list-h-item:last-child {
	border-bottom: 1px solid #ccc;
}

.list-h .list-image {
	width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  display: block;
}

.list-h .list-image img {
	width: 40px;
	height: 40px;
	/*background-color: rgb(66,98,154);*/
	background-color: #0D47A1;
	padding: 8px;
}

.list-h .primary-info {
	margin: 2px 0;
	line-height: 22px;
	font-size: 16px;
}

.list-h .primary-info.single-info {
	margin: 0;
	line-height: 40px;
}

.list-h .secondary-info {
	color: #888;
	margin: 0;
}

.list-h .list-h-item .additional-option {
	width: 45px;
  height: 45px;
  padding-top: 6px;
  position: absolute;
  top: 15px;
  right: 0;
}

.list-h .list-h-item.list-h-md .list-image {
	width: 40px;
  height: 40px;
  border-radius: 40px;
}

.list-h .list-h-item.list-h-md .list-image img {
	width: 40px;
  height: 40px;
}

.list-h .list-h-item.list-h-md .primary-info.single-info {
	line-height: 40px;
}

.list-h .list-h-item.list-h-sm .list-image {
	width: 30px;
  height: 30px;
  border-radius: 30px;
}

.list-h .list-h-item.list-h-sm .list-image img {
	width: 30px;
  height: 30px;
  padding: 8px;
}

.list-h .list-h-item.list-h-sm .primary-info.single-info {
	line-height: 30px;
	font-size: 15px;
}

@media only screen and (max-width : 768px) {
	.list .list-content-wrapper .info {
		width: 60%;
	}

	.payment-method-list .payment-method-item .card {
		margin-top: 15px;
	}

	.payment-method-list .payment-method-item a.button {
		margin-top: 10px;
	}
}

@media only screen and (max-width : 480px) {

	.list-h .primary-info.single-info {
		line-height: 22px;
	}
  
	.list .list-content-wrapper .image {
		width: 100%;
	}

	.lists .primary-image {
		height: 300px;
	}

	.list .list-content-wrapper .list-content {
		float: none;
		width: auto;
	}

	.list .list-content-wrapper .info {
		width: 100%;
		margin-top: 40px;
		margin-left: 0;
	}

}