.secondary-message-box {
	padding: 15px;
	color: #D50000;
	background-color: #FFEBEE;
}

.secondary-message-box.clean {
	padding: 15px;
	color: #000;
	background-color: transparent;
}

.secondary-message-box.info {
	color: #1565C0;
	background-color: #E3F2FD;
}

.secondary-message-box.success {
	color: #2E7D32;
	background-color: #C8E6C9;
}

.secondary-message-box h3 {
	margin: 10px 0;
}

.secondary-message-box p {
	margin: 5px 0;
}

.secondary-message-box .line {
	background-color: #EF9A9A;
}

.secondary-message-box.info .line {
	background-color: #90CAF9;
}

.secondary-message-box.success .line {
	background-color: #A5D6A7;
}