.secondary-message-box {
	color: #000;
	background-color: #ececec;
}

.secondary-message-box .secondary-message-box-inner {
	padding: 15px;
} 

.secondary-message-box.clean {
	padding: 15px;
	color: #000;
	background-color: transparent;
}

.secondary-message-box.error {
	color: #D50000;
	background-color: #FFEBEE;
}

.secondary-message-box.info {
	color: #1565C0;
	background-color: #E3F2FD;
}

.secondary-message-box.success {
	color: #2E7D32;
	background-color: #C8E6C9;
}

.secondary-message-box h3 {
	margin: 10px 0;
}

.secondary-message-box p {
	margin: 5px 0;
}

.secondary-message-box .line {
	background-color: #bababa;
}

.secondary-message-box.error .line {
	background-color: #EF9A9A;
}

.secondary-message-box.info .line {
	background-color: #90CAF9;
}

.secondary-message-box.success .line {
	background-color: #43A047;
}

.secondary-message-box .message-box-button-group {
	width: 100%;
}

.secondary-message-box .message-box-button-group > .flat-button {
	float: left;
}

.secondary-message-box .message-box-button-group > .flat-button {
	width: 100%;
}

.secondary-message-box .message-box-button-group.two-button > .flat-button {
	width: 50%;
}

.secondary-message-box .message-box-button-group .button {
	width: 100%;
	line-height: 50px;
	padding: 0;
	margin: 0;
	text-align: center;
	/*background-color: rgb(244, 67, 54);*/
	background-color: #009688;
}

@media only screen and (max-width : 480px) {
  .secondary-message-box .message-box-button-group.two-button > .flat-button {
  	width: 100%;
  }
}