.secondary-message-box {
	color: #000;
	background-color: #ececec;
}

.secondary-message-box .secondary-message-box-inner {
	padding: 15px;
} 

.secondary-message-box.clean {
	padding: 15px;
	color: #000;
	background-color: transparent;
}

.secondary-message-box.error {
	color: #D50000;
	background-color: #FFEBEE;
}

.secondary-message-box.info {
	color: #1565C0;
	background-color: #E3F2FD;
}

.secondary-message-box.success {
	color: #2E7D32;
	background-color: #C8E6C9;
}

.secondary-message-box h3 {
	margin: 10px 0;
}

.secondary-message-box p {
	margin: 5px 0;
}

.secondary-message-box img {
	width: 200px;
	height: 200px;
}

.secondary-message-box .line {
	background-color: #bababa;
}

.secondary-message-box.error .line {
	background-color: #EF9A9A;
}

.secondary-message-box.info .line {
	background-color: #90CAF9;
}

.secondary-message-box.success .line {
	background-color: #43A047;
}

.secondary-message-box .message-box-button-group {
	width: 100%;
}

.secondary-message-box .message-box-button-group > .flat-button {
	float: left;
}

.secondary-message-box .message-box-button-group > .flat-button {
	width: 100%;
}

.secondary-message-box .message-box-button-group.two-button > .flat-button {
	width: 50%;
}

.secondary-message-box .message-box-button-group.three-button > .flat-button {
	width: 33.333333333333333333333333333333%;
}

.secondary-message-box .message-box-button-group .button {
	width: 100%;
	line-height: 50px;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #009688;
}

.secondary-message-box .message-box-button-group .button.danger {
	background-color: #D32F2F;
}

.secondary-message-box .message-box-button-group .button.warning {
	background-color: #EF6C00;
}

.message-content .message {
	margin-bottom: 15px;
	border-bottom: 1px solid #78909C;
}

.message-content .sender-profile {
	margin-bottom: 10px;
}

.message-content .sender-profile-image {
	width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  float: left;
}

.message-content .sender-profile-image .profile-image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.message-content .sender-profile-info {
	float: left;
	margin-left: 10px;
}

.message-content .message-box {
	color: #000;
	padding: 15px;
}

.message-content .message-file-attachment {
	padding: 10px 10px 0;
}

.message .message-reply-flat-button {
	padding: 10px 0;
}

.message-content .reply-message-content {
	padding-left: 40px;
	margin-bottom: 60px;
}

@media only screen and (max-width : 480px) {
  .secondary-message-box .message-box-button-group.two-button > .flat-button,
  .secondary-message-box .message-box-button-group.three-button > .flat-button {
  	width: 100%;
  }
}