.modal-box {
	position: fixed;
	top: 0;
	right: -100%;
	width: 700px;
	height: 100%;
	opacity: 1;
	background-color: rgb(29, 66, 133);
	padding: 0;
	z-index: 90;
	overflow-y: auto;
	overflow-x: hidden;
	transition: right .15s ease-out;
}

.modal-box.opened {
	right: 0;
}

.modal-box .modal-box-inner {
	padding: 40px;
	height: 100%;
}

.modal-box h3 {
	color: #fff;
}

.modal-box .modal-form {
	position: relative;
	top: 45%;
	margin-top: -115px;
}

.modal-box .modal-dialog-button {
	color: #ececec;
	font-size: 18px;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 2px;
	background-color: rgba(255,255,255,.2);
	display: block;
	cursor: pointer;
}

@media only screen and (max-width : 480px) {
  
	.modal-box {
		width: 100%;
	}

}