.notice-box-wrapper {

}

.notice-box-wrapper .notice-box {
	color: #fff;
	width: 100%;
	height: 400px;
	background-color: rgb(12,139,8);
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}

.notice-box-wrapper .notice-box.large {
	height: 530px;
}

.notice-box-wrapper .notice-box.small {
	height: 280px;
}

.notice-box .notice-box-inner {
	padding: 15px;
}

.notice-box .notice-box-info {
	padding: 20px 60px;
}

.notice-box .notice-box-info .notice-box-description {
	font-size: 16px;
}

.notice-box .floating-button {
	position: absolute;
	bottom: 15px;
	right: 15px;
	background-color: rgba(0,0,0,.3);
}

.notice-box .notice-box-info-float {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 270px;
	padding: 20px 60px;
	background-color: rgb(12,139,8);
}

.notice-box .notice-box-image > .image {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.notice-box.large .notice-box-image {
	height: 300px;
}

.notice-box.small .notice-box-image {
	height: 100%;
}

.notice-box.small .floating-button {
	background-color: rgba(0,0,0,.5);
}

@media only screen and (max-width : 1024px) {
  .notice-box.large .notice-box-image {
  	height: 280px;
  }
}

@media only screen and (max-width : 992px) {
	.notice-box.large .notice-box-image {
		height: 260px;
	}
}

@media only screen and (max-width : 768px) {
	.notice-box.large .notice-box-image {
		height: 240px;
	}
}

@media only screen and (max-width : 480px) {
	.notice-box-wrapper .notice-box.small {
		height: 120px;
	}
}