.avg-review-score {
	font-size: 50px;
	line-height: 50px;
}

.rating-bar-list {
	margin-bottom: 5px;
}

.rating-bar-item {
	width: 200px;
	height: 20px;
	min-width: 5px;
	margin-left: 10px;
	background-color: #E0F2F1;
	display: inline-block;
}

.rating-bar-box {
	height: 100%;
	background-color: #43A047;
	transition: width .5s ease-out;
}

.rating-count-text {
	color: #555;
	font-size: 14px;
	font-weight: bold;
	margin-left: 110%;
	line-height: 20px;
}

.review-item {
	margin-bottom: 30px;
	position: relative;
}

.review-item .review-user-avatar {
	position: absolute;
	top: 5px;
	left: 0;
	width: 35px;
	height: 35px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-color: #ececec;
	border-radius: 35px;
}

.review-item .review-content {
	padding-left: 50px;
	padding-right: 10px;
}

.review-title {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	margin-right: 10px;
}

.review-item .review-content .review-description {
	font-size: 16px;
	color: #555;
	margin-top: 15px;
}

.review-item .review-content .review-rating-score {
	font-size: 16px;
	color: #000;
}

/*.review-item .review-content .review-rating-date {}*/

.review-by {
	font-size: 16px;
}

.review-score-box label.review-score-box-item:not(:last-child) {
	margin-bottom: 4px;
}

label.review-score-box-item {
	margin: 0;
	padding: 0;
	display: block;
	cursor: pointer;
	
}

label.review-score-box-item > .inner {
	width: 80px;
	height: 25px;
	line-height: 25px;
	opacity: .75;
	transition: width .15s ease-out;
}

label.review-score-box-item > .inner:hover {
	opacity: 1;
}

.review-score-box-item .score-label {
	height: 100%;
	width: 100%;
	color: #444;
	font-size: 15px;
	text-align: center;
}

label.review-score-box-item > input[type="radio"] {
	display: none;
}

label.review-score-box-item > input[type="radio"]:checked + .inner {
	opacity: 1;
	width: 200px;
}

label.review-score-box-item > input[type="radio"]:checked + .inner > .score-label {
	font-weight: bold;
}

.color-1-score {
	/*background-color: #FF8A65 !important;*/
	background-color: #FF7043 !important;
}

.color-2-score {
	/*background-color: #FFCC80 !important;*/
	background-color: #FFB74D !important;
}

.color-3-score {
	/*background-color: #FFE082 !important;*/
	background-color: #FFD54F !important;
}

.color-4-score {
	/*background-color: #C5E1A5 !important;*/
	background-color: #9CCC65 !important;
}

.color-5-score {
	/*background-color: #81C784 !important;*/
	background-color: #66BB6A !important;
}

.user-review .additional-option {
	position: absolute;
	top: 0;
	right: 20px;
	width: 40px;
}

.user-review-score {
	font-size: 36px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 80px;
	color: #fff;
	background-color: #ececec;
	display: inline-block;
}

@media only screen and (max-width : 768px) {
	.user-review .review-description {
		margin-top: 20px;
	}
}

@media only screen and (max-width : 480px) {
	.user-review .review-description {
		margin-top: 20px;
		padding: 0 15px; 
	}

	.review-item {
		margin-top: 50px;
	}
}