[data-right-side-panel="1"] {
	cursor: pointer;
}

.right-size-panel {
	position: fixed;
	top: 0;
	right: -100%;
	width: 700px;
	height: 100%;
	opacity: 1;
	color: #fff;
	/*background-color: rgb(29, 66, 133);*/
	/*background-color: #607D8B;*/
	background-color: #00695C;
	padding: 0;
	z-index: 90;
	overflow: hidden;
	transition: right .15s ease-out;
}

.right-size-panel.opened {
	right: 0;
}

.right-size-panel .right-size-panel-inner {
	padding: 30px 30px 80px;
	height: 100%;
	font-size: 16px;
	line-height: 25px;
	overflow-y: auto;
	overflow-x: hidden;
}

.right-size-panel .line {
	background-color: #fff;
}

.right-size-panel select {
	color: #000;
}

.right-size-panel .right-size-panel-close-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border-radius: 0;
	background-image: url(/images/icons/close.png);
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: center;
	background-color: rgba(255,255,255,.2);
	z-index: 5;
	cursor: pointer;
}

.right-size-panel.filter {
	width: 300px;
	color: #000;
	background-color: #fff;
}

.right-size-panel.filter .line {
	background-color: #000;
}

.right-size-panel .right-size-panel-close-icon {
	background-color: #0071c5;
}

.right-size-panel.filter label.choice-box {
	width: 100%;
}

@media only screen and (max-width : 480px) {
  
	.right-size-panel {
		width: 100%;
	}

}