.tile-nav {
	width: 150px;
	margin-right: 10px;
	position: relative;
}

.tile-nav-group .tile-nav {
	float: left;
}

.tile-nav .tile-nav-image img {
	height: 150px;
	padding: 40px;
	background-color: #eee;
}

.tile-nav .tile-nav-info .tile-nav-title {
	color: #000;
	font-size: 16px;
	line-height: 20px;
	height: 40px;
	margin-bottom: 0;
}

.tile-nav.small {
	width: 100px;
	margin-bottom: 20px;
}

.tile-nav.small .tile-nav-info .tile-nav-title {
	font-size: 14px;
	line-height: 18px;
	height: 36px;
	margin-bottom: 0;
}

.tile-nav.small .tile-nav-image img {
	height: 100px;
	padding: 25px;
}

.tile-nav.xs {
	width: 40px;
}

.tile-nav.xs.transparent-bg {
	margin-right: 0;
}

.tile-nav.xs .tile-nav-image {
	border-radius: 40px;
	overflow: hidden;
}

.tile-nav.xs .tile-nav-image img {
	height: 40px;
	padding: 10px;
	background-color: #FFD54F;
}

.tile-nav.xs.transparent-bg .tile-nav-image img {
	background-color: transparent;
}

.tile-nav.xs + .tile-nav-title {
	height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.tile-nav.xxs {
	width: auto;
}

.tile-nav.xxs .tile-nav-image,
.tile-nav.xxs .tile-nav-info {
	display: inline-block;
}

.tile-nav.xxs img {
	width: 40px;
	height: 40px;
	padding: 10px ;
}

.tile-nav.xxs .tile-nav-info {
	margin-left: 5px;
}

.tile-nav .tile-flag-count {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	background-color: #D50000;
	padding: 5px 10px;
}