.white-bg {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.fixed-center-form {
	position: absolute;
  top: 45%;
  left: 50%;
  width: 350px;
  margin-top: -200px;
  margin-left: -175px;
  padding: 0;
  z-index: 9;
}

.fixed-center-form input[type="text"],
.fixed-center-form input[type="password"] {
	width: 100%;
	padding: 10px;
}

.fixed-center-message {
	margin-top: 170px;
}

@media only screen and (max-width : 1400px) {
	.fixed-center-form {
		position: relative;
		margin: 300px auto 0;
		top: 0;
		left: 0;
	}
}

@media only screen and (max-width : 768px) {
	.fixed-center-form {
		margin: 200px auto 0;
	}
}

@media only screen and (max-width : 480px) {
	.fixed-center-form {
		margin: 100px auto 300px;
	}
}


@media only screen and (max-width : 375px) {
	.fixed-center-form {
		width: 320px;
	}
}

@media only screen and (max-width : 320px) {
	.fixed-center-form {
		width: 300px;
	}
}