/*body {
	background-color: rgb(29,66,133);
}*/

.register-bg {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(29,66,133);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.register-wrapper {
	position: relative;
	padding-top: 25px;
	z-index: 5;
}

.register-wrapper input[type="text"],
.register-wrapper input[type="password"] {
	width: 100%;
	padding: 10px;
}

.register-wrapper .header-container {
	text-align: center;
}

.register-wrapper .header-container a {
	color: #fff;
	display: block;
}

.register-wrapper .header-container p {
	color: #fff;
	font-size: 24px;
}

.register-form {
	width: 400px;
	margin: 0 auto;
	background-color: #fff;
}

.register-form .register-form-inner {
	padding: 20px;
}

.register-wrapper.mobile {
	width: 100%;
}

.register-wrapper.mobile .register-form {
	padding: 20px;
}

.register-wrapper.mobile .register-form-inner {
	padding: 0;
}

.register-wrapper.mobile .register-form {
	width: 100%;
	background-color: transparent;
}

.register-wrapper.mobile .register-form .form-row {
	margin: 0;
}

.register-wrapper.mobile .register-form .button {
	margin-top: 20px;
}

.register-wrapper.mobile .register-form a {
	color: #fff;
}

.register-wrapper.mobile .text-center {
	color: #82B1FF;
}

.register-wrapper.mobile .form-row:not(:first-child) input[type="text"], 
.register-wrapper.mobile input[type="password"] {
	border-top: 0;
}

@media only screen and (max-width : 992px) {

	.register-wrapper {
		width: 100%;
	}

	.register-wrapper .register-form {
		padding: 20px;
	}

	.register-wrapper .register-form-inner {
		padding: 0;
	}

	.register-wrapper .register-form {
		width: 100%;
		background-color: transparent;
	}

	.register-wrapper .register-form .form-row {
		margin: 0;
	}

	.register-wrapper .register-form .button {
		margin-top: 20px;
	}

	.register-wrapper .register-form a {
		color: #fff;
	}

	.register-wrapper .header-container p {
		margin: 0;
	}

	.register-wrapper .text-center {
		color: #82B1FF;
	}

	.register-wrapper .form-row:not(:first-child) input[type="text"], 
	.register-wrapper input[type="password"] {
		border-top: 0;
	}
}
