.cart .product-list-table {
	/*border: 1px solid #ececec;*/
}

.cart .product-error-message {
	color: #D50000;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px 10px 5px;
  background-color: #FFEBEE;
  border-bottom: 2px solid #D50000;
}

.cart .product-image img {
	width: 100px;
	height: 100px;
}

.cart .shop-info {
	/*color: #fff;
  background-color: #0071c5;
  margin: 0;
  padding: 15px;*/

  color: #000;
  margin: 0;
  padding: 10px;
  border-bottom: 4px solid #0071c5;
  font-weight: bold;
}

.cart > .product-list-table .product-list-table-row {
	position: relative;
	background-color: #f8f8f8;
	padding: 10px;
	margin-top: 10px;
}

.cart > .product-list-table > .product-list-wrapper .product-list-table-row {
	margin-top: 20px;
}

.cart > .product-list-table > .product-list-wrapper .product-list-table-row:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

/*.cart .product-info {
	margin-left: 20px;
}*/

.cart .product-list-box {
	position: relative;
}

.cart .product-info .product-info-container {
	position: relative;
}

.cart .quantity-text-input-panel {
	position: relative;
	width: 80%;
}

.cart .quantity-text-input {
	width: 100%;
}

.cart .cart-quantity-update-button {
	position: absolute;
	top: 3px;
	right: 0;
	width: 35px;
	height: 35px;
	border: 0;
	background-color: transparent;
	outline: none;
}

.cart .cart-quantity-update-button img {
	width: 100%;
}

.cart .product-title {
	line-height: 24px;
	margin: 10px 0;
}

.cart .product-price {
	line-height: 24px;
	margin: 10px 0;
}

.cart .product-total-amount {
	line-height: 24px;
	margin: 10px 0;
}

.cart .delete-product-button {
	position: absolute;
	top: 0;
	right: 10px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
	font-size: 26px;
	color: #D32F2F;
	font-weight: bold;
}

.cart .cart-summary {
	padding: 20px;
}

.cart .cart-check-out {
	padding: 0 10px;
	/*padding: 20px 40px;*/
	/*background-color: #ececec;*/
}

.cart .cart-summary .amount {
	font-weight: bold;
}

.cart .total-amount {
	color: #0071c5;
}

@media only screen and (max-width : 992px) {
  .cart .product-info .product-info-container {
  	margin-bottom: 5px;
  }
}

@media only screen and (max-width : 768px) {
  .cart .quantity-text-input-panel {
  	width: 30%;
  }
}

@media only screen and (max-width : 480px) {
	.cart .quantity-text-input-panel {
		width: 90%;
	}
}