.checkout .checkout-wrapper {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #1565C0;
}

.checkout .product-list-box {
	position: relative;
}

.checkout .product-error-message {
	color: #D50000;
	font-weight: bold;
}

.checkout .shop-info {
	color: #000;
	margin: 0;
	padding: 10px;
	font-weight: bold;
}

.checkout .product-price {
	color: #0071c5;
	font-weight: bold;
}

.checkout .checkout-list-table-row {
	margin: 20px 0;
}

.checkout .checkout-summary {
	padding: 20px;
	background-color: #CFD8DC;
}

.checkout .address-input input[type="text"] {
	width: 100%;
}

.checkout .message-input textarea {
	width: 100%;
	height: 100px;
}

.checkout .checkout-input {
	padding: 15px 5px 0;
}

.checkout-success {
	margin: 50px 30px;
}

.checkout-success img.primary-image {
	width: 100px;
	height: 100px;
	background-color: rgb(49,175,145);
	border-radius: 100px;
	padding: 20px;
	margin: 10px 0;
}

.checkout-success .checkout-success-message {
	margin-top: 30px;
}

.shipping-method-input > h5 {
	font-size: 22px;
  border-bottom: 1px solid #bababa;
  padding-bottom: 10px;
}

.shipping-method-input label.choice-box {
	width: 100%;
}

.shipping-method-input label.choice-box h5 {
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	line-height: 20px;
}

.shipping-method-input label.choice-box p {
	color: #555;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.shipping-method-input label.choice-box input[type="radio"] + .inner {
	padding: 20px 0 10px 50px;
}

.shipping-method-input .shipping-method-choice .shipping-cost {
	font-size: 22px;
}

.shipping-method-detail .shipping-method-detail-panel {
	padding: 15px;
	background-color: #ececec;
}

.shipping-method-detail .shipping-method-special-option {
	padding: 15px;
	background-color: #B2DFDB;
}

@media only screen and (max-width : 480px) {
  .checkout .secondary-message-box {
  	text-align: left;
  }
}