.checkout .checkout-wrapper {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #1565C0;
}

.checkout .product-list-box {
	position: relative;
}

.checkout .product-error-message {
	color: #D50000;
	font-weight: bold;
/*	padding: 10px;
	background-color: #FFCDD2;
	margin-bottom: 0;*/
}

.checkout .shop-info {
/*	color: #fff;
	background-color: #0071c5;
	margin: 0;
	padding: 15px;*/

	color: #000;
	margin: 0;
	padding: 10px;
	/*border-top: 4px solid #0071c5;*/
	font-weight: bold;
}

.checkout .product-price {
	color: #0071c5;
	font-weight: bold;
}

.checkout .checkout-list-table-row {
	margin: 20px 0;
}

.checkout .checkout-summary {
	padding: 20px;
	background-color: #F2F3F7;
}

.checkout .address-input input[type="text"] {
	width: 100%;
}

.checkout .message-input textarea {
	width: 100%;
	height: 100px;
}

.checkout .checkout-input {
	padding: 15px 5px 0;
}

.checkout-success {
	margin: 50px 30px;
}

.checkout-success img.primary-image {
	width: 100px;
	height: 100px;
	background-color: rgb(49,175,145);
	border-radius: 100px;
	padding: 20px;
	margin: 10px 0;
}

.checkout-success .checkout-success-message {
	margin-top: 30px;
}