.detail {
	position: relative;
}

.detail .line {
	background-color: #bababa;
}

.detail .text-emphasize {
	color: #0071c5;
	font-size: 20px;
}

.detail .text-emphasize-green {
	color: #088921;
}

.detail .item-info {
	margin-bottom: 20px;
}

.detail .origin-price {
	text-decoration: line-through;
	font-size: 12px;
	color: #999;
}

.detail .product-price-discount-tag {
	padding: 4px 8px;
	font-size: 18px;
	white-space: nowrap;
	background-color: #FFCDD2;
	color: #D50000;
}

.detail .flag-wrapper .flag {
	position: absolute;
	top: 20px;
	right: 10px;
	z-index: 8;
}

.detail .flag {
	padding: 6px 20px;
	background-color: #EF6C00;
	color: #fff;
	font-size: 14px;
	display: inline-block;
}

.detail-title .title {
	font-size: 26px;
	margin-top: 10px;
	margin-bottom: 0;
}

.detail-title .sub-title {
	margin-top: 20px;
	margin-bottom: 0;
}

.detail .detail-info-section {
	margin-top: 20px;
}

.detail-info-section .detail-info {
	/*margin-top: 10px;*/
	margin: 10px 0 20px;
}

.tag-group .tag-box {
  color: #222222;
  font-size: 12px;
  padding: 6px 10px;
  margin: 10px 4px 0 0;
  background-color: #dedede;
  line-height: 17px;
  display: inline-block;
}

.detail .item-info p {
	margin: 0;
  font-size: 16px;
}

.detail .item-info h4 {
	margin: 5px 0 0;
	font-size: 20px;
}

.detail .item-info .item-info-row:nth-child(n+2) {
	margin-top: 15px;
}

.detail .secondary-title {
	color: rgb(47,97,186);
}

.detail .tile-info-group {
	max-height: 200px;
	overflow-y: auto; 
	overflow-x: hidden; 
}

.detail .tile-info-group .tile-info {
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
}

.detail .tile-info-group .tile-info.with-icon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background-color: #BBDEFB;
	border-radius: 50px;
}

.detail .tile-info-group .tile-info h4.title-with-icon {
	font-size: 14px;
	color: #000;
	padding-left: 55px;
}

.detail .title-with-icon {
	position: relative;
	padding-left: 40px;
}

.detail h4.title-with-icon {
	font-size: 18px;
	line-height: 30px;
	margin-top: 10px;
}

.detail .title-with-icon::before {
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
}

.detail .title-with-icon.phone::before {
	background-image: url(/images/common/phone.png);
}

.detail .title-with-icon.email::before {
	background-image: url(/images/common/email.png);
}

.detail .title-with-icon.location-pin::before {
	background-image: url(/images/common/location-pin.png);
}

.detail .title-with-icon.line-app::before {
	background-image: url(/images/common/line.png);
}

.detail .title-with-icon.bedroom::before {
	background-image: url(/images/common/bedroom.png);
}

.detail .title-with-icon.living_room::before {
	background-image: url(/images/common/living-room.png);
}

.detail .title-with-icon.bathroom::before {
	background-image: url(/images/common/bathroom.png);
}

.detail .title-with-icon.home_office::before {
	background-image: url(/images/common/home-office.png);
}

.detail .title-with-icon.floors::before {
	background-image: url(/images/common/stair.png);
}

.detail .title-with-icon.carpark::before {
	background-image: url(/images/common/carpark.png);
}

.detail .title-with-icon.tick-green::before {
	background-image: url(/images/common/tick-green.png);
}

.detail .title-with-icon.space {
	line-height: 30px;
}

.detail .title-with-icon.space::before {
	background-size: 25px;
}

.detail .info-section .section:not(:first-child) {
	border-left: 1px solid #bababa;
}

.detail .margin-section {
	margin: 20px;
}

.detail .margin-section .section-inner {
	padding: 10px;
}

.detail .margin-section h4 {
	margin-top: 10px;
}

.detail .section-full-border-left {
	border: 1px solid #bababa;
	border-left-width: 5px;
}

.detail .section-border-left {
	border-left: 1px solid #bababa;
}

.detail .margin-section .line {
	width: 92%;
}

.item-info .sub-info-text {
	font-size: 15px;
	color: #999;
}

.content-box {
	margin: 20px 0;
	color: #fff;
	/*background-color: #448AFF;*/
	background-color: #455A64;
}

.content-box .image-frame {
	width: 160px;
	height: 160px;
	border-radius: 160px;
	overflow: hidden;
	background-color: #aaa;
	border: 5px solid #fff;
}

.content-box .content-box-main-image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.content-box .content-box-main-sub-content > .main-sub-content {
	float: left;
}

.content-box .content-box-main-sub-content > .main-sub-content:nth-child(n+1) {
	margin-left: 20px;
}

.content-box .content-box-panel {
	padding: 20px;
}

.content-box .content-box-panel.overlay-bg {
	background-color: rgba(20,27,32,.85);
}

.content-box.content-box-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content-box .line {
	background-color: #fff;
}

.content-box a {
	color: #fff;
}

.content-box .button {
	background-color: #00aeef;
}

.quantity-box .quantity-text-input {
	width: 49%;
}

.quantity-box .add-to-cart-button {
	width: 49%;
}

.detail-group .detail-info {
	margin-top: 10px;
}

.detail-group .detail-group-info:not(:first-child) {
	margin-top: 20px;
}

.detail-group .detail-group-info .title {
	font-weight: bold;
}

.detail-group .detail-group-info-section {
	padding: 10px;
}

.order-progress-bar {
	margin: 30px 0 0;
	width: 100%;
	height: 4px;
	background-color: #BBDEFB;
}

.order-progress-bar > .status {
	position: relative;
	width: 0;
	height: 100%;
	background-color: #2196F3;
	transition: width .5s ease-in-out;
}

.order-progress-bar > .status::after {
	content: "";
	position: absolute;
	top: -13px;
	right: -15px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #2196F3;
}

.order-status .order-status-box {
	width: 20%;
	float: left;
	text-align: center;
}

.order-status .order-status-box.current,
.order-status .order-status-box.passed {
	background-color: #E3F2FD;
}

.order-status .order-status-box .image {
	margin: 20px 0;
	height: 46px;
	border-radius: 46px;
}

.order-status .order-status-box .image > .status-image {
	width: 46px;
	height: 46px;
	margin: 0 auto;
	background-color: #90CAF9;
	border: 4px solid #90CAF9;
	border-radius: 46px;
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

.order-status .order-status-box.pending-seller-confirmation .image > .status-image {
	background-image: url(/images/icons/checklist-white.png);
}

.order-status .order-status-box.pending-customer-payment .image > .status-image {
	background-image: url(/images/icons/payment-white.png);
}

.order-status .order-status-box.packing .image > .status-image {
	background-image: url(/images/icons/box-white.png);
}

.order-status .order-status-box.shipment .image > .status-image {
	background-image: url(/images/icons/truck-white.png);
}

.order-status .order-status-box.complete .image > .status-image {
	background-image: url(/images/icons/note-white.png);
}

.order-status .order-status-box .image > .status-image {
	background-color: #2196F3;
	border-color: #2196F3;
}

.order-status .order-status-box.passed .image > .status-image {
	background-color: #42A5F5;
	border-color: #42A5F5;
	background-image: url(/images/icons/tick.png);
	background-size: 60%;
}

.person-experience-content .person-experience-info:first-child {
	margin-top: 20px;
}

.person-experience-content .person-experience-info:not(:last-child) {
	margin-bottom: 50px;
}

.person-experience-content .person-experience-info:not(:last-child) {
	margin-bottom: 50px;
}

.person-private-website-content {
	padding: 15px;
	background-color: #ececec;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.quantity-box {
		margin-top: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	.detail .info-section .section:not(:first-child) {
		border-top: 1px solid #bababa;
		border-left: 0;
	}

	.order-status .order-status-box {
		width: 100%;
	}

}

/* Custom */ 
@media only screen and (max-width : 360px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}