/*.primary-banner {
	position: relative;
	height: 500px;
	background-color: #607D8B;
	background-image: url(/images/banners/main.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 40px;
}

.primary-banner .banner-overlay-message {
	position: absolute;
	top: 100px;
}

.primary-banner .primary-banner-title {
	color: #fff;
	font-size: 40px;
	width: 100%;
}

.primary-banner .banner-description {
	color: #fff;
	font-size: 18px;
	width: 65%;
}

.banner-text {
	width: 100%;
	height: 250px;
	color: #fff;
	font-size: 30px;
	background-color: rgb(212,22,48);
}

.banner-text .banner-text-inner {
	padding: 20px;
}

@media only screen and (max-width : 480px) {
  .banner .banner-primary-title {
  	font-size: 35px;
  	width: 90%;
  }

	.primary-banner .banner-overlay-message {
		top: 80px;
	}

	.primary-banner .primary-banner-title {
		font-size: 36px;
		width: 80%;
	}
}*/

.slider-banner {
	width: 100%;
	height: 500px;
	background-color: #aaa;
	position: relative;
	overflow: hidden;
}

.slider-banner .slider-banner-item {
	width: 100%;
	height: 500px;
	text-align: center;
	outline: none;
}

.slider-banner .slider-banner-item img {
	width: 100%;
}

.slider-banner .slider-banner-item .slider-banner-image {
	width: 100%;
	height: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.slider-banner .slider-banner-item.color-type-1 {
	background-color: rgb(0,162,232);
}

.slider-banner .slider-banner-item.color-type-2 {
	background-color: rgb(34,177,76);
}

.slider-banner .slider-banner-item.color-type-3 {
	background-color: rgb(41,121,255);
}

.slider-banner .slider-banner-item.color-type-4 {
	background-color: rgb(252,110,81);
}

.slider-banner .slick-dots {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: auto;
	padding: 0;
	margin: 0;
}

.channel-column {
	background-color: #fff;
	/*padding: 15px;*/
	margin-bottom: 30px;
	/*border: 1px solid #E65100;*/
}

.channel-column .title {
	color: #fff;
	font-size: 18px;
	text-align: left;
	width: 100%;
	margin-bottom: 30px;
	padding: 10px 0;
}

.channel-column .title.color-type-1 {
	border-top: 1px solid #EF5350;
	color: #EF5350;
}

.channel-column .title.color-type-2 {
	border-top: 1px solid #EC407A;
	color: #EC407A;
}

.channel-column .title.color-type-3 {
	border-top: 1px solid #AB47BC;
	color: #AB47BC;
}

.channel-column .title.color-type-4 {
	border-top: 1px solid #7E57C2;
	color: #7E57C2;
}

.color-type-1 .slick-prev, 
.color-type-1 .slick-next {
	background-color: #EF5350;
}

.color-type-2 .slick-prev, 
.color-type-2 .slick-next {
	background-color: #EC407A;
}

.color-type-3 .slick-prev, 
.color-type-3 .slick-next {
	background-color: #AB47BC;
}

.color-type-4 .slick-prev, 
.color-type-4 .slick-next {
	background-color: #7E57C2;
}

.color-type-1 .slick-dots li button {
	background-color: #EF5350;
}

.color-type-2 .slick-dots li button {
	background-color: #EC407A;
}

.color-type-3 .slick-dots li button {
	background-color: #AB47BC;
}

.color-type-4 .slick-dots li button {
	background-color: #7E57C2;
}

.multiple-product-box .slick-prev,
.multiple-product-box .slick-next {
	background-color: #00897b;
}

.main-content {
	margin-bottom: -150px;
}

.main-row {
	width: 100%;
	padding: 20px 0;
	background-color: #fff;
}

.main-row.grey {
	background-color: #ececec;
}

.main-row.teal {
	background-color: #009688;
}

.main-row.light-teal {
	background-color: #E0F2F1;
}

.main-row.blue {
	background-color: #2196F3;
}

.main-row.blue-2 {
	background-color: rgb(112,146,190);
}

.main-row.amber {
	background-color: #FFD54F;
}

.main-row.light-orange {
	background-color: #FFCC80;
}

.main-row.green {
	background-color: #00C853;
}

.main-row.light-green {
	background-color: #C8E6C9;
}

.multiple-product-box {
	width: 100%;
	height: 440px;
	padding: 15px;
	margin-bottom: 30px;
	background-color: #fff;
	border: 2px solid #80CBC4;
}

.multiple-product {
	/*height: 317px;*/
	overflow: hidden;
}


/* Shop */
/*.shop-content-section {
	margin-bottom: 20px;
}*/

.shop-content-section .shop-default-cover-bg {
	background-repeat: no-repeat;
}

.shop-content-section .shop-cover-frame {
	width: 100%;
	height: 200px;
	border: 1px solid #ddd;
	background-color: #90949c;
}

.shop-content-section .shop-cover {
	width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.shop-content-section .shop-main-info {
	padding: 0;
	border: 0;
}

.shop-content-section .shop-main-info-inner {
	padding: 0 15px;
	margin-top: -110px;
}

.shop-content-section .shop-logo-frame {
	width: 130px;
	height: 130px;
}

.shop-content-section .shop-logo-frame-inner {
	width: 100%;
	height: 100%;
	background-color: #bababa;
	border: 1px solid #CFD8DC;
	overflow: hidden;
}

.shop-content-section .shop-logo {
	width: 100%;
	height: 100%;
	border: 5px solid #fff;
	background-image: url(/images/common/image.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.shop-content-section .shop-name {
	display: inline-block;
}

.shop-content-section .shop-product {
	padding: 15px;
	/*height: 400px;*/
}

.main-row.color-bar {
	min-height: 100px;
	padding: 0;
	font-size: 20px;
	background-color: rgb(255,185,51);
	position: relative;
	overflow: hidden;
}

.main-row.color-bar .color-bar-bg {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 120px;
	height: 120px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

.main-row.color-bar .container {
	position: relative;
}

.main-row.color-bar .inner {
	padding: 0 15px;
}

.main-row.color-bar .color-bar-article {
	position: relative;
	z-index: 2;
	padding: 30px 0;
}

.main-row.color-bar .color-bar-article > .color-bar-title {
	font-size: 26px;
}

.main-row.color-bar .color-bar-article > p {
	font-size: 14px;
}

.main-row.color-bar .color-bar-bg + .color-bar-article > .color-bar-title {
	width: 70%;
}

.main-row.color-bar .color-bar-bg + .color-bar-article > p {
	width: 90%;
}

@media only screen and (max-width : 1200px) {
  .slider-banner,
  .slider-banner .slider-banner-item {
  	height: 400px;
  }
}

@media only screen and (max-width : 992px) {
  .slider-banner,
  .slider-banner .slider-banner-item {
  	height: 350px;
  }
}

@media only screen and (max-width : 768px) {
  .slider-banner,
  .slider-banner .slider-banner-item {
  	height: 320px;
  }
}

@media only screen and (max-width : 480px) {
  .slider-banner,
  .slider-banner .slider-banner-item {
  	height: 200px;
  }
}

@media only screen and (max-width : 380px) {
  .slider-banner,
  .slider-banner .slider-banner-item {
  	height: 180px;
  }
}