.primary-banner {
	position: relative;
	height: 500px;
	background-color: #ccc;
	background-image: url(/images/banners/_besiness.jpg);
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	margin-bottom: 40px;
}

.primary-banner .banner-overlay-message {
	position: absolute;
	top: 100px;
}

.primary-banner .primary-banner-title {
	color: #fff;
	font-size: 40px;
	width: 60%;
}

.primary-banner .banner-description {
	color: #fff;
	font-size: 18px;
	width: 80%;
}

/*.content-panel {
	margin-bottom: -20px;
}

.content-panel .image-section {
	position: relative;
	height: 200px;
	text-align: center;
}

.content-panel .image-section > img.icon {
	position: relative;
	top: 50%;
	width: 140px;
	height: 140px;
	margin-top: -60px;
}

.content-panel .content-section .image-tile {
	width: 100%;
	height: 250px;
	background-image: url(/images/common/image.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px;
}

.content-panel .content-section .primary-image {
	height: 250px;
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
}*/

/*.content-panel .info-box {
	background-color: #fff;
	margin-bottom: 20px;
	border-bottom: 5px solid #FDD835;
}

.content-panel .info-box .primary-info-section {
	padding: 20px;
	color: #000;
}

.content-panel .info-box .primary-info-section h4 {
	color: #000;
  margin: 0;
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
}

.content-panel .info-box .secondary-info-section {
	font-size: 15px;
	line-height: 20px;
	margin-top: 10px;
}

.content-panel .info-box .secondary-info-section h5 {
	font-weight: bold;
	margin: 0;
}*/

.site-map .site-map-content {
	margin-bottom: 20px;
}

.site-map .site-map-link {
	margin-bottom: 3px;
}

@media only screen and (max-width : 480px) {
  .banner .banner-primary-title {
  	font-size: 35px;
  	width: 90%;
  }

	.primary-banner .banner-overlay-message {
		top: 80px;
	}

	.primary-banner .primary-banner-title {
		font-size: 36px;
		width: 80%;
	}

}