.search-box-panel {
	position: relative;
}

.search input[type="text"].search-box {
	width: 100%;
	text-align: left;
	margin: 0;
	color: #0071c5;
	height: 64px;
	font-size: 24px;
	font-weight: 200;
	border: 0;
	border-bottom: 1px solid #bababa;
}

.search input[type="text"].search-box:focus {
	outline: none;
}

.search .button-search {
	position: absolute;
	top: 10px;
	right: 0;
	height: 55px;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 0;
}

.search .button-search > i {
	width: 50px;
	height: 50px;
	padding: 10px;
}

.search .result-count {
	color: #555;
}

.search .search-results .not-found-image {
	width: 150px;
	height: 150px;
}

.search .search-results .price {
	color: #0071c5;
	font-size: 20px;
}

.search .search-results .price-discount-tag {
  padding: 4px 8px;
  font-size: 18px;
  white-space: nowrap;
  background-color: #FFCDD2;
  color: #D50000;
}

.search .search-results .origin-price {
  text-decoration: line-through;
  font-size: 12px;
  color: #999;
}

.search .search-results img.data-icon {
	width: 20px;
	height: 20px;
}

.search .displaying-filters {
	padding: 10px 15px
}

.search .displaying-filters .filter-tag {
	padding: 8px 12px;
	color: #fff;
	background-color: #43A047;
	display: inline-block;
	margin-bottom: 5px;
}

.search .lists.search-results {
	margin: 40px 0;
}

.search .lists.search-results .list {
	margin: 0;
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}

.search .lists.search-results .list:last-child {
	border-bottom: 0;
}

.search .list .list-content-wrapper {
	position: relative;
}

.search .list .list-content-wrapper .info .title {
	font-size: 24px;
	color: #333;
}

.search .list .list-content-wrapper .info .description {
	margin-bottom: 10px;
}

.search .list .list-content-wrapper .info {
	padding: 0 30px;
}

.search .list .list-content-wrapper .flag {
	padding: 6px 20px;
	background-color: #EF6C00;
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
	display: inline-block;
}

.search .list .list-content-wrapper .flag.data-form-flag {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	color: #fff;
	background-color: rgba(1,87,155,.65);
	width: 250px;
	text-align: right;
}

.search .list .list-content-wrapper .result-data-content {
	margin-bottom: 10px;
}

.search .list .list-content-wrapper .data-title {
	font-size: 14px;
}

.search .list .list-content-wrapper .data-value {
	font-size: 20px;
	color: #0071c5;
	margin-top: 10px;
}