.search-box-panel {
	position: relative;
}

input[type="text"].search-box {
	width: 100%;
	text-align: left;
	margin: 0;
	color: #0071c5;
	height: 64px;
	font-size: 24px;
	font-weight: 200;
	border: 0;
	border-bottom: 1px solid #bababa;
}

input[type="text"].search-box:focus {
	outline: none;
}

.button-search {
	position: absolute;
	top: 10px;
	right: 0;
	height: 55px;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 0;
}

.button-search img {
	width: 50px;
	height: 50px;
	padding: 10px;
}

.result-count {
	color: #555;
}

.search-results .not-found-image {
	width: 250px;
	height: 250px;
}

.displaying-filters {

}

.displaying-filters .filter-tag {
	padding: 8px 12px;
	color: #fff;
	background-color: #009688;
	display: inline-block;
	margin-bottom: 5px;
}
