.shop-wrapper {
	/*background-color: #F2F3F7;*/
	background-color: rgb(237,241,242);
}

.shop-notice {
	background-color: #fff;
}

.shop-notice .shop-notice-content h4 {
	margin: 20px 0;
}

.shop-menu {
	background-color: #fff;
}

.shop-top-nav {
	width: 100%;
	height: 54px;
	background-color: #fff;
}

.shop-top-nav .btn-group {
	padding: 10px;
}

.shop-top-nav .btn-group > .btn {
	color: #337ab7;
	background-color: #ffffff;
	border: 1px solid #BDBDBD;
	padding: 6px 20px;
}

.shop-top-nav .btn-group > .btn:hover {
	background-color: #dfdfdf;
}

.shop-top-nav .shop-top-fixed-top {
	position: fixed;
	left: 0;
	right: 280px;
	z-index: 75;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	transition: left .2s ease-out;
}

.shop-top-haeder-wrapper {
	/*margin-top: 50px;*/
	position: relative;
}

.shop-top-header {
	width: 100%;
	height: 600px;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	border-bottom: 5px solid #1A237E;
	background-color: #90949c;
}

.shop-top-header.shop-default-cover-bg {
	background-image: url(/images/common/image.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: 200px;
}

.shop-top-header .float-button {
	position: absolute;
	z-index: 25;
	cursor: pointer;
	color: #0071c5;
	background-color: #fff;
	margin: 0;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.shop-top-header .shop-profile-image-edit-button {
	bottom: 0;
	right: 20px;
}

.shop-top-header .shop-cover-edit-button {
	top: 20px;
	right: 20px;
}

.shop-top-header .shop-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-color: #bababa;*/
	z-index: 10;
}

.shop-top-header .display-preview {
	background-color: #fff;
}

.shop-top-haeder-wrapper .shop-overlap-panel .shop-logo-panel {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 50px auto 30px;
}

.shop-top-haeder-wrapper .shop-logo-outer {
	width: 100%;
	height: 100%;
	background-color: #bababa;
	border-radius: 200px;
}

.shop-top-haeder-wrapper .shop-logo {
	width: 100%;
	height: 100%;
  /*background-color: #bababa;*/
  border: 5px solid #fff;
  background-image: url('/images/common/image.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  overflow: hidden;
}

.shop-top-haeder-wrapper .shop-overlap-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  background-color: rgba(20,27,32,.85);
  z-index: 20;
}

.shop-top-haeder-wrapper .shop-overlap-panel  .shop-logo {
	border-radius: 200px;
}

.shop-top-header .cover-accept {
	top: 20px;
	right: 20px;
	display: none;
}

.shop-top-header .cover-cancel {
	top: 20px;
	right: 85px;
	display: none;
}

.shop-top-header .profile-image-accept {
	bottom: 0;
	right: 20px;
	display: none;
}

.shop-top-header .profile-image-cancel {
	bottom: 60px;
	right: -20px;
	display: none;
}

.shop-top-header .shop-info {
	text-align: center;
	color: #fff;
}

.shop-top-header .shop-info .shop-description {
	margin: 20px 80px;
}

.shop-main-nav {
	background-color: #fff;
}

.shop-main-nav .nav-group {

}

.shop-main-nav .nav-group > .nav {
	float: left;
	line-height: 55px;
	padding: 0 15px;
	cursor: pointer;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.shop-header-overlay {
		margin-top: 0;
	}

	.shop-top-header .shop-info .shop-description {
		margin: 15px 0 0;
	}

	.shop-top-header .shop-info {
		width: 90%;
		margin: 0 auto;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.shop-logo {
		margin-bottom: 0;
	}

	.shop-cover {
		background-size: 100%;
	}

	/*.shop-description {
		width: 90%;
		padding: 0 0 20px 45px;
	}*/

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.shop-cover {
		background-size: auto 100%;
	}

	.shop-top-haeder-wrapper .shop-overlap-panel {
		width: 50%;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.shop-description h2 {
		font-size: 22px;
	}

	.shop-top-haeder-wrapper .shop-overlap-panel {
		width: 100%;
	}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}