/*footer {
	border-top: 1px solid #bababa;
}*/

.footer-wrapper {
	position: relative;
	/*background-color: #fff;*/
	background-color: rgb(109,140,13);
	border-top: 10px solid rgb(65,80,13);
	padding: 20px 20px 10px;
}

/*.footer-content {
	height: 30px;
}
*/
.footer-content > h4 {
	line-height: 30px;
	font-size: 14px;
}

.footer-content img.social-logo {
	width: 25px;
	height: 25px;
	margin-top: 2px;
}

.footer-content span {
	margin-left: 5px;
}

.footer .footer-title {
	color: #fff;
	font-weight: bold;
}

.footer .footer-content {
	margin-bottom: 20px;
}

.footer .footer-link {
	margin-bottom: 3px;
}

.footer .footer-link > a {
	color: #fff;
}

.footer-wrapper .footer-social {
	position: absolute;
	bottom: 15px;
	right: 15px;
	z-index: 9;
}

@media only screen and (min-width : 1367px) {
	footer {
		padding-left: 150px;
	}
}