footer {
	/*border-top: 1px solid #bababa;*/
	border-top: 3px solid rgb(0,149,211);
}

.footer-wrapper {
	position: relative;
	padding: 20px 20px 10px;
}

.footer-inner {
	padding: 0 165px;
}

.footer-content img.social-logo {
	width: 25px;
	height: 25px;
	margin-top: 2px;
}

.footer-content span {
	margin-left: 5px;
}

.footer .footer-content {
	margin-bottom: 20px;
}

.footer .footer-link {
	margin-bottom: 3px;
}

/*.footer .footer-link > a {
	color: #fff;
}*/

.footer-wrapper .footer-social {
	position: absolute;
	bottom: 15px;
	right: 15px;
	z-index: 9;
}

@media only screen and (min-width : 1367px) {
	footer {
		padding-left: 150px;
	}
}