.global-cart-panel .cart-header-nav {
	position: absolute;
	top: 64px;
	height: 50px;
	background-color: #ececec;
	width: 100%;
}

.global-cart-panel .cart-header-nav .cart-header-nav-inner {
	padding: 0 10px;
}

.global-cart-panel .cart-header-nav .flat-button {
	line-height: 50px;
}

.global-cart-panel > .product-list-table {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.global-cart-panel > .product-list-table > .product-list-table-inner {
	padding: 114px 20px 20px;
}

.global-cart-panel > .product-list-table .product-list-table-row {
	position: relative;
	padding: 10px;
}

.global-cart-panel .product-list-table-row .delete-product-button {
	position: absolute;
	top: 16px;
	right: 10px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
	font-size: 26px;
	color: #D32F2F;
	font-weight: bold;
}

.global-cart-panel .image-tile {
	width: 70px;
	height: 70px;
	background-image: url(/images/common/image.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px;
}

.global-cart-panel .product-image {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60px;
}

.global-cart-panel .product-info {
	width: 75%;
	margin-left: 20px;
}

.global-cart-panel .product-info .product-title {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	width: 90%;
}

.global-cart-panel .product-info .product-option {
	margin-bottom: 10px;
}

.global-cart-panel .product-info .product-option-name {
	color: #999;
}

.global-cart-panel .product-price {
	color: #0071c5;
	font-weight: bold;
}

.global-cart-panel .product-list-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(20,27,32,.6);
	z-index: 5;
}

.global-cart-panel .product-list-overlay a {
	color: #42A5F5;
}

.global-cart-panel .product-list-message {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	padding: 15px;
	color: #FFA726;
}

.cart-empty > img {
	width: 200px;
	height: 200px;
}

@media only screen and (max-width : 480px) {
	.global-cart-panel .product-info {
		width: 72%;
	}

	.global-cart-panel .product-image img {
		width: 50px;
		height: 50px;
	}
}