.global-cart-panel {
	position: fixed;
	top: 0;
	right: -100%;
	width: 500px;
	height: 100%;
	opacity: 1;
	background: #fff;
	padding: 0;
	z-index: 90;
	overflow: auto;
	transition: right .2s ease-out;
}

.global-cart-panel.panel-opened {
	right: 0;
}

.global-cart-panel > .product-list-table > .product-list-table-inner {
	padding: 20px;
}

.global-cart-panel > .product-list-table .product-list-table-row {
	padding: 10px;
}

/*.global-cart-panel > .product-list-table {
	height: 90%;
}*/

.global-cart-panel .product-image img {
	width: 70px;
	height: 70px;
}

.global-cart-panel .product-info {
	width: 75%;
	margin-left: 20px;
}

.global-cart-panel .product-info .product-title {
	font-size: 16px;
	line-height: 20px;
}

.global-cart-panel .product-info .price {
	color: #0071c5;
	font-weight: bold;	
}


.global-cart-panel .delete-product-button {
	width: 50px;
	height: 50px;
	padding: 10px;
}

.global-cart-panel .cart-panel-close-button {
	position: absolute;
  right: 20px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #D32F2F;
  background-image: url(/images/icons/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  cursor: pointer;
  transition: transform 220ms ease-out;
  display: none;
}

@media only screen and (max-width : 480px) {
  
	.global-cart-panel {
		width: 100%;
	}

	.global-cart-panel .product-info {
		width: 72%;
	}

	.global-cart-panel .cart-panel-close-button {
		display: block;
	}

}