.global-notification-panel .notification-header-nav {
	position: absolute;
	top: 50px;
	height: 50px;
	background-color: rgb(245,245,245);
	width: 100%;
}

.global-notification-panel .notification-header-nav .notification-header-nav-inner {
	padding: 0 10px;
}

.global-notification-panel .notification-header-nav .flat-button {
	line-height: 50px;
}
    
.global-notification-panel > .notification-list-table {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	transition: height .2s ease-out;
}

.global-notification-panel > .notification-list-table > .notification-list-table-inner {
	padding: 114px 15px 20px;
}

.global-notification-panel .notification-item {
	padding: 10px 20px;
	margin-bottom: 15px;
	background-color: #fff;
	border: 1px solid #ccc;
	/*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

.global-notification-panel .notification-image > a {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	overflow: hidden;
	display: block;
}

.global-notification-panel .notification-image img {
	width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgb(66,133,244);
}

.global-notification-panel .notification-info {
	width: 80%;
	margin-left: 15px;
}

.global-notification-panel .notification-title {
	font-size: 16px;
	margin: 0 0 5px;
	line-height: 22px;
}

.global-notification-panel .notification-date {
	font-size: 15px;
	color: #555;
}

.notification-empty > img {
	width: 200px;
	height: 200px;
}

@media only screen and (max-width : 480px) {
	.global-notification-panel .notification-info {
		width: 79%;
	}
}