.global-search-panel {
	position: fixed;
	top: 0;
	right: -100%;
	width: 500px;
	height: 100%;
	opacity: 1;
	background: #252525;
	padding: 0;
	z-index: 90;
	overflow: auto;
	transition: right .2s ease-out;
}

.global-search-panel.panel-opened {
	right: 0;
}

.global-search-panel .global-search-input-box {
	/*padding: 10px;*/
}

.global-search-panel .global-search-input-field {
	background-color: #fff;
	/*background-color: #333;*/
	/*border-bottom: 1px solid #bababa;*/
	position: relative;
}

.global-search-panel input[type="text"].search-box {
	border: 0;
	width: 85%;
	height: 45px;
	color: #222;
	font-size: 15px;
	background-color: transparent;
}

.global-search-panel .global-button-search {
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	display: inline-block;
	border: none;
	outline: none;
	background-color: transparent; 
	padding: 0;
	width: 50px;
	height: 45px;
}

.global-search-panel .global-button-search img {
	/*width: 45px;
	height: 45px;
	padding: 10px;*/
	width: 35px;
	height: 35px;
	padding: 5px;
	border-left: 1px solid #ececec;
	margin: 5px;
}

.global-search-panel .search-panel-close-button {
	position: absolute;
  top: 50%;
  right: 20px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  border-radius: 30px;
  background-color: #00695C;
  background-image: url(/images/icons/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  cursor: pointer;
  /*display: none;*/
}

.global-search-panel .global-search-header {
	position: relative;
	background-color: #009688;
	z-index: 9;
	/*padding: 70px 10px 10px;*/
}

.global-search-panel .global-search-header-action-bar {
	position: relative;
	width: 100%;
	height: 64px;
}

@media only screen and (max-width : 480px) {
  
	.global-search-panel {
		width: 100%;
	}

	/*.global-search-panel .search-panel-close-button {
		display: block;
	}*/

}