.header-wrapper {
	height: 256px;
	padding: 115px 16px 0;
}

.header-wrapper.active {
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
  left: 0;
  right: 0;
  top: -192px;
  z-index: 1;
  position: fixed;
}

.header-title {
	margin: 0 auto;
	color: #fff;
	line-height: 1.5;
}

.header-top .header-title {
	font-size: 56px;
}

.header-fix {
	height: 64px;
	left: 72px;
	right: 72px;
	top: 0;
	z-index: 2;
	position: fixed;
	padding-left: 280px;
	display: none;
}

.header-fix .header-title {
	font-size: 18px;
  line-height: 64px;
  width: 100%;
}

header .hamburger-button {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 64px;
	line-height: 64px;
	cursor: pointer;
	color: #fff;
	text-align: center;
}

header .badge {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #D50000;
}

header .additional-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 64px;
	height: 64px;
	cursor: pointer;
}

header .additional-button .dot-group {
	margin-top: 22px;
}

header .additional-button .dot {
	width: 4px;
	height: 4px;
	border-radius: 4px;
	background-color: #fff;
	margin: 5px auto;
}

/*header .additional-option-button.additional-option {
	padding-top: 16px;
}

header .additional-option-button.additional-option > .dot {
	background-color: #fff;
}*/

header .search-button {
	position: absolute;
	top: 0;
	right: 50px;
	z-index: 2;
	width: 64px;
	line-height: 64px;
	cursor: pointer;
}

header .cart-button {
	position: absolute;
	top: 0;
	right: 114px;
	z-index: 2;
	width: 64px;
	line-height: 64px;
	cursor: pointer;
}

header .notification-button {
	position: absolute;
	top: 0;
	right: 178px;
	z-index: 2;
	width: 64px;
	line-height: 64px;
	cursor: pointer;
}

header .header-button input[type="checkbox"] {
	display: none;
}

header img.icon-header {
	width: 64px;
	height: 64px;
	padding: 17px;
}

.global-header {
	width: 100%;
	height: 64px;
}

.header-fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	background-color: #0071c5;
	z-index: 80;
	padding: 0 15px;
	transition: left .2s ease-out;
}

.global-header .nav-fixed-top {
	height: 64px;
	left: 72px;
	right: 192px;
	top: 0;
	z-index: 99;
	position: absolute;
}

@media only screen and (min-width: 1200px) {

	header .hamburger-button {
		display: none;
	}

}

@media only screen and (max-width : 1200px) {

  .header-fix {
    padding-left: 0;
  }
  
}