.global-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 80;
	width: 280px;
  height: 100%;
  /*background-color: #E1F5FE;*/
  /*border-right: 1px solid #009688;*/
  /*background-color: #4DB6AC;*/
  background-color: #009688;
  border-right: 1px solid #26A69A;
  /*background-color: rgb(112,146,190);*/
  transition: left .2s ease-out;
}

.global-nav nav {
  height: 100%;
}

.global-nav .navigation-top {
  width: 100%;
  height: 64px;
  /*background-color: #fff;*/
  overflow: hidden;
}

.navigation-top a.logo-link {
  color: rgb(66,133,244);
	font-size: 17px;
}

.navigation-top .account-info {
  position: relative;
  margin: 20px 0px 20px 20px;
  color: #fff;
}

.navigation-top .account-info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.navigation-top .account-info .avatar .profile-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.navigation-top .account-info .avatar + .account-description {
  margin-top: 4px;
  margin-left: 10px;
}

.navigation-top .account-info .account-description div {
  font-size: 12px;
  line-height: 20px;
}

.navigation-top .account-info .account-description a {
  color: #fff;
  font-size: 14px;
}

.navigation-top .account-info .account-description a:hover {
  color: #7986CB;
}

.navigation-primary-menu {
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px;
}

.navigation-primary-menu ul {
	padding: 0;
}

.navigation-primary-menu ul > li span {
  margin-left: 20px;
}

.navigation-primary-menu ul > li img.icon {
  height: 25px;
}

.navigation-primary-menu ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.navigation-primary-menu ul > li > .submenu-item-row {
  position: relative;
}

.navigation-primary-menu ul > li a { 
	position: relative;
  padding: 10px 0 10px 20px;
  display: block;
  /*color: #009688;*/
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  /*transition: all .34s ease-in-out;*/
}

.navigation-primary-menu ul > li a:hover,
.navigation-primary-menu ul > li a.active { 
  color: #fff;
  background-color: #4DB6AC;
}

.navigation-primary-menu ul > li a.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #3F51B5;
}

.navigation-primary-menu ul.submenu > li > a { 
	position: relative;
  padding: 8px 30px 8px 30px;
  font-size: 14px;
  line-height: 18px;
}

.global-nav .line {
  background-color: #fff;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}