.global-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 80;
	width: 150px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  transition: left .3s ease-in-out;
}

.global-nav nav {
  height: 100%;
}

.global-nav .navigation-top {
  width: 100%;
  height: 64px;
}

.navigation-top a.logo-link {
  color: rgb(66,133,244);
	font-size: 17px;
}

.navigation-top .account-info {
  position: relative;
  margin: 20px 0px 20px 20px;
  color: #fff;
}

.navigation-top .account-info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.navigation-top .account-info .avatar .profile-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.navigation-top .account-info .avatar + .account-description {
  margin-top: 4px;
  margin-left: 10px;
}

.navigation-top .account-info .account-description div {
  font-size: 12px;
  line-height: 20px;
}

.navigation-top .account-info .account-description a {
  color: #fff;
  font-size: 14px;
}

.navigation-top .account-info .account-description a:hover {
  color: #7986CB;
}

.navigation-primary-menu {
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  /*margin-top: 10px;*/
}

.navigation-primary-menu ul {
	padding: 0;
}

.navigation-primary-menu ul > li span {
  margin-left: 20px;
}

.navigation-primary-menu ul > li img.icon {
  height: 25px;
}

.navigation-primary-menu ul > li {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  position: relative;
}

.navigation-primary-menu ul > li > .submenu-item-row {
  position: relative;
}

.navigation-primary-menu ul > li .item-title {
  margin-top: 4px;
}

.navigation-primary-menu ul > li a { 
	position: relative;
  padding: 10px 20px;
  display: block;
  color: #212121;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.navigation-primary-menu ul > li a:hover,
.navigation-primary-menu ul > li a.active { 
  /*color: rgb(0,148,210);*/
  color: #1565C0;
}

.navigation-primary-menu ul > li a:hover > i,
.navigation-primary-menu ul > li a.active > i { 
  color: #1565C0;
}

.navigation-primary-menu ul > li a.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #3F51B5;
}

.navigation-primary-menu ul.submenu > li > a { 
	position: relative;
  padding: 8px 30px 8px 30px;
  font-size: 14px;
  line-height: 18px;
}

.navigation-primary-menu ul > li i { 
  font-size: 25px;
  color: rgb(117,117,117);
  position: relative;
}

.navigation-primary-menu ul > li i > .badge {
  position: absolute;
  top: -6px;
  right: -22px;
  background-color: #D50000;
}

.global-nav .line {
  background-color: #bababa;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}