body {
	background-color: #fff;
}

a {
	text-decoration: none !important;
}

a.button:visited {
	color: #fff;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #0071c5;
}

.line.only-space {
	height: 0;
}

.line.grey {
	background-color: #ccc;
}

h3 > img {
	width: 30px;
	margin-right: 10px;
}

.text-strike {
	text-align: center;
}

.text-strike span {
	color: rgb(47,97,186);
	background-color: #fff;
	padding: 0 12px;
	font-size: 22px;
}

.text-strike .line {
	margin-top: -13px;
	background-color: rgb(47,97,186);
}

.space-top-bottom-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.space-top-bottom-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.space-top-bottom-30 {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

.space-top-bottom-100 {
	margin-top: 100px !important;
	margin-bottom: 100px !important;
}

.space-top-bottom-120 {
	margin-top: 120px !important;
	margin-bottom: 120px !important;
}

.space-top-10 {
	margin-top: 10px !important;
}

.space-top-20 {
	margin-top: 20px !important;
}

.space-top-30 {
	margin-top: 30px !important;
}

.space-top-40 {
	margin-top: 40px !important;
}

.space-top-50 {
	margin-top: 50px !important;
}

.space-bottom-5 {
	margin-bottom: 5px !important;
}

.space-bottom-10 {
	margin-bottom: 10px !important;
}

.space-bottom-20 {
	margin-bottom: 20px !important;
}

.space-bottom-30 {
	margin-bottom: 30px !important;
}

.space-bottom-40 {
	margin-bottom: 40px !important;
}

.space-bottom-50 {
	margin-bottom: 50px !important;
}

.space-bottom-100 {
	margin-bottom: 100px !important;
}

.space-bottom-120 {
	margin-bottom: 120px !important;
}

.space-bottom-240 {
	margin-bottom: 240px !important;
}

.padding-10 {
	padding: 10px !important;
}

.padding-15 {
	padding: 15px !important;
}

.padding-20 {
	padding: 20px !important;
}

.padding-left-right-15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-border {
	border: 0 !important;
}

.no-border-bottom {
	border-bottom: 0 !important;
}

.elem-center {
	margin: 0 auto !important;
	display: block;
}

.line-height-22 {
	line-height: 22px !important;
}

.breadcrumb {
	padding: 0;
	background-color: #fff;
}

.global-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 98;
	display: block;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(20,27,32,.5);
	transition: all .2s ease-out;
}

.global-overlay.isvisible {
  visibility: visible;
  opacity: 1;
}

.top-header-wrapper {
	background-color: #fff;
	margin-bottom: 20px;
	position: relative;
}

.top-header-wrapper.top-header-border {
	padding: 10px 0;
	border-bottom: 1px solid #1565C0;
}

.top-header {
	margin: 0 auto;
	padding: 20px 0 0;
	position: relative;
}

.top-header .header-info {
	margin-top: 30px;
}

.top-header .image-tile {
	width: 100%;
	height: 250px;
	background-image: url(/images/common/image.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px;
}

.top-header .header-primary-image {
	width: 100%;
	height: 250px;
	margin: 0 auto;
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
}

.container-header {
	margin: 20px 0 0;
}

.container-header .title {
	font-size: 25px;
	line-height: 50px;
}

.container-header a.button {
	background-color: #448AFF;
}

.sign {
	display: inline-block;
	padding: 10px 20px;
	margin: 0;
	color: #fff;
	font-size: 14px;
}

.sign.wide {
	display: block;
}

.sign.info {
	background-color: rgb(44,89,169);
}

.sign.success {
	background-color: #388E3C;
}

.hide-element {
	display: none;
}

.text-line-through {
	text-decoration: line-through;
}

.article-title {
	color: #0071c5;
}

.article-title.color-teal {
	color: #00897b;
}

.article-title.color-pink {
	color: #ad1457;
}

.article-content .paragraph {
	max-width: 760px;
	line-height: 22px;
}

.product-discount-tag {
	padding: 4px 8px;
	font-size: 18px;
	white-space: nowrap;
	background-color: #FFCDD2;
	color: #D50000;
}

.product-catalog-banner {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.content-footer {
	width: 100%;
	border-bottom: 5px solid #fb8c00;
}

@media only screen and (max-width : 480px) {

	.product-catalog-banner {
		height: 120px;
	}

}




.product-banner {
	/*border-bottom: 1px solid #E91E63;*/
}

.product-banner .section-left {
	width: 225px;
	/*height: 360px;*/
	background-color: #E91E63;
	float: left;
	/*background-size: 100% auto;
	background-position: top center;
	background-repeat: no-repeat;*/
}

.product-banner .section-left-inner {
	padding: 10px;
	font-size: 16px;
	color: #fff;
}

.product-banner .section-right {
	width: 75%;
	float: left;
	margin-left: 20px;
}

.product-banner .product-banner-image {
	width: 150px;
	height: 150px;
	background-position: center;
	background-size: auto 95%;
	background-repeat: no-repeat;
}

.product-banner .product-banner-content {
	margin-bottom: 20px;
	/*border-bottom: 1px solid #E91E63;*/
}

.product-banner .product-price-section {
	height: 44px;
}

.product-banner .product-banner-info {
	width: 60%;
	margin-top: 20px;
	margin-left: 10px;
}

.product-banner .product-title {
	font-size: 14px;
	margin-bottom: 5px;
}

.product-banner .product-price {
	/*color: #0071c5;*/
	color: #EF6C00;
	font-size: 18px;
	font-weight: bold;
}

.product-banner .product-price-discount-tag{
	padding: 4px 8px;
  font-size: 18px;
  white-space: nowrap;
  background-color: #FFCDD2;
  color: #D50000;
}

.product-banner .origin-price {
	text-decoration: line-through;
	font-size: 12px;
	color: #999;
}

@media only screen and (max-width : 1200px) {
	.product-banner .section-left {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width : 480px) {
	.product-banner .section-right {
		width: auto;
		float: none;
		margin-left: 0;
	}

	.product-banner .product-banner-info {
		width: 58%;
	}

	.product-banner .section-left {
		width: 100%;
	}
}